{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">دسته بندی ها</h1>
            <p class="lead fw-normal text-white-50 mb-0">همه دستبه بندی ها</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    {% for cat in category %}
                        <div class="list-group">
                            <a href="{% url 'category' cat.name %}" class="list-group-item list-group-item-action">{{cat.name}}</a>
                        </div>
                    {% endfor %}
                </p>
            </div>
        </center>
    </div>
</div>
<br>
{% endblock content %}
